<ul>
<% @bookmarks.each do |bookmark| %>
  <li><%= bookmark %></li>
  <% end %>
</ul>
<form action="/name" method="post">
  <label for="new_bookmark">
    Bookmark to Add?
    <input type="text" name="new_bookmark">
  </label>
  <input type="submit" value="Submit">
</form>